#Left #GridHolder {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
}

#Left #GridHolder .transparent {
    max-width: 50%;
    display: flex;
    flex-flow: column nowrap;
}

#Grid {
    background-image: url("water.jpg");
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    margin: 10px;
}

#Puzzle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    background: #d5f1d4;
    z-index: 5;
    margin: 0px;
}

#Left, #Right {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 20px 0px;
    margin-bottom: 30px;
}

#Left {
    align-items: center;
}

#Right {
    align-items: stretch;
}

#Puzzle #Right #Answers {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    background: rgb(144, 214, 219);
    border: 5px;
    border-radius: 5px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#Puzzle #Right #Answers #postForm {
    min-height: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

#Puzzle #Right #Answers .transparent {
    min-height: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

#Puzzle #Right #Answers #postForm textarea {
    min-width: 80%;
    min-height: 70%;
    padding: 0px;
    margin: 10px;
    margin-top: 17px;
    border: none;
    border-radius: 3px;
    font-size: 	2em;
}

#Puzzle #Right #Answers #postform button {
    min-height: 20%;
}

#Grid .row {
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#Grid .row img {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

nav {
    position: relative;
}

#Description {
    margin-top: 0px;
    z-index: 9;
    box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.418);
    width: 100%;
    text-align: center;
}

#postForm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

#postForm p {
    width: 100%;
}

#postForm p label {
    min-width: 50%;
}

#postForm p input {
    min-width: 65%;
    min-height: 70px;
}

#LevelDetails {
    font-style: italic;
    color: gray;
    font-size: 1.3em;
}