#GridHolder {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: stretch;
}

#GridHolder .transparent {
    max-width: 25%;
    display: flex;
    flex-flow: column nowrap;
}

#Grid {
    background-image: url("water.jpg");
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    margin: 10px;
}

#Grid .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}

nav {
    position: relative;
}

#Description {
    border-top: 2px solid rgb(53, 53, 53);
    width: 80%;
    text-align: center;
}

#postForm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
}

#postForm p {
    width: 100%;
}

#postForm p label {
    min-width: 50%;
}

#postForm p input {
    min-width: 65%;
    min-height: 70px;
}

#LevelDetails {
    font-style: italic;
    color: gray;
    font-size: 1.3em;
}