* {
    margin: 0;
	padding: 0;
	border-width: 0;
}

nav p{
	font-family: 'Titillium Web', 'Exo';
	font-weight: 900;
}

.duck {
	width:50%;
}

body {
	background: #f9f6fa;
	display: flex;
	flex-direction: column;
	font-family: 'Titillium Web', "Times New Roman", Times, serif;
}

h1 {

	text-align: center;
	font-size: 75px;
	width: 92%;
	padding: 10px;
	border-bottom: 1px solid black;
}

h2 {
	font-size: 38px;
	font-weight: bold;
	text-align: center;
	color: red;
}

p {
	font-size: 27px;
	margin: 15px;
	text-align: center;
}

.prettyprint{
	margin: 70px 100px;
	padding: 50px 0px;
	font-family: 'Cousine', monospace;
	background-color: 	#efefef;
	border-radius: 25px 25px;
	color: #6d6d6d;
}
.question{
	padding: 0px 50px 0px 50px;
}
#correctAnswer{
	color: green;
}
#coinCount{
	text-align:  right;
	margin-right: 40px;
}
#coinNumber{
	display: none;
}

img {
	image-orientation: from-image;
}

div{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.transparent {
	width: 100%;
	background-color: transparent;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}
.puzzleTitle{
	font-size: 64px;
	margin-top: 20px;
}

#introduction {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
}

#introduction figure {
	height: 350px;
	width: 40%;
	display: flex;
	justify-content: space-evenly;
}

#introduction figure img {
	width: 283px;
	height: 100%;
	display: block;
}

#introduction h1 {
	margin: auto;
	vertical-align: middle;
}

#thankyous #pictures {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

#thankyous #pictures figure {
	background: #e2e6ff;
	padding: 5px 15px 10px 15px;
	border-radius: 3px;
	box-shadow: 0 2px 4px #c0bbce;
	margin: 10px 15px;
}

#thankyous #pictures figure #norman {
	width: 454px;
	height: 478px;
}

#thankyous #pictures figure #shep {
	width: 479px;
	height: 478px;
}

#thankyous #pictures figure figcaption {
	font-size: 27px;
}

#postList {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	background: transparent;
	box-shadow: none;
}

#postList div {
	margin: 0px;
	padding: 0px;
}

#postForm {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-flow: column nowrap;
}

#postForm p label {
	font-size: 1.1em;
}

input[type=text], textarea {
    width: 50%;
    padding: 5px 7px;
	border: 2px solid silver;
	border-radius: 3px;
	background: red;
	color: white;
	font-size: 1em;
}

input [type=radio] {
	color: #f9a9c8;
}

button {
    background-color: #f9a9c8;
    border: none;
    color: white;
    padding: 15px 32px;
	margin: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 3px;
	border: 2px solid #ff7070;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#satForm {
	width: 90%;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

section {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: 10px 5%;
}

select {
    min-width: 10%;
	max-width: 20%;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background: #f9a9c8;
	color: white;
}

@media only screen and (max-width: 998px) { /*Tablet View*/
	h1 {
		font-size: 55px;
	}

	h2 {
		font-size: 27px;
	}

	p {
		font-size: 20px;
	}

	#introduction figure {
		height: 300px;
	}

	#introduction figure img {
		width: 243px;
	}

	#thankyous #pictures figure figcaption {
		font-size: 22px;
	}

	#thankyous #pictures figure #norman {
		width: 285px;
		height: 300px;
	}

	#thankyous #pictures figure #shep {
		width: 301px;
		height: 300px;
	}

	#satForm {
	flex-flow: column;
	}

	input[type=text], textarea {
		width: 60%;
	}

}

@media only screen and (max-width: 700px) { /*Where the introduction on the home page can't fit the picture and text*/

	#introduction {
		flex-direction: column;
		align-items: center;
	}

	input[type=text], textarea {
		width: 70%;
	}

}

@media only screen and (max-width: 399px) { /*Mobile Phone*/
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 20px;
	}

	p {
		font-size: 12px;
	}

	div, #postList {
		margin: 5px 10px;
	}

	.transparent {
		margin: 2px;
	}

	#introduction figure {
		height: 247px;
	}

	#introduction figure img {
		width: 200px;
	}

	#thankyous #pictures figure figcaption {
		font-size: 22px;
	}

	#thankyous #pictures figure #norman {
		width: 200px;
		height: 210px;
	}

	#thankyous #pictures figure #shep {
		width: 200px;
		height: 199px;
	}

	input[type=text], textarea {
		width: 80%;
	}


}
	
	#gridimage {
		max-width:50%;
	}

	.titles {
		font-size: 40px;
		color:red;
	}

	a {
		font-size: 27px;
	}